{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Management API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
<link rel="stylesheet" type="text/css" href="{% static 'todo/css/style.css' %}">
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Task Management API</a>
          <h3 class="navbar-brand" style="  float: right;">Welcome to Update Task Page!</h3>
        </div>
      </nav>
<div class="container">
<br>
<div class="card">
<div class="card-body">
<form method='POST' action="">
{%csrf_token%}
<div class="mb-3">
    <h2>Update Task</h2>
<label class="form-label">Task</label> {{form.task}}  </div>
  <div class="mb-3">
    <label for="" class="form-label">Completed</label>
    {{form.completed}} </div>
  <div class="mb-3">
        <label for="" class="form-label">Comletion Date</label>
        {{form.comletiondate}}</div>
    <input type="submit" name="Task" class="btn btn-success">
</form>
</div></div>
<br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</div> 
</body>
</html>
